.envrc
config.json

npm-debug.log
node_modules
dist
vendor/html-validator/*
!vendor/html-validator/.gitignore
vendor/css-validator/*
!vendor/css-validator/.gitignore
vendor/languagetool/*
!vendor/languagetool/words-to-add.txt
!vendor/languagetool/languagetool.properties
build/background.tiff

app/*.cert
app/*.pem
