[hidden] {
  display: none !important;
  visibility: hidden !important;
}

[title="and"] {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
}

.overlay {
  height: calc(100vh - 38px);
  left: 0;
  position: absolute;
  top: 38px;
  width: 100vw;
  z-index: 3000;

  color: #000;
  text-align: center;
}

.overlay .arrow,
.overlay .logo {
  opacity: .3;
}

.overlay h1,
.overlay h2 {
  opacity: .4;
}

.overlay[data-state="hidden"] {
  display: none;
}

.overlay-contents {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.overlay h1 {
  margin-top: 1.4rem;
  margin-bottom: 0;

  font-size: 19px;
  font-weight: normal;
  text-align: center;
}

.overlay h2 {
  font-size: 17px;
  font-weight: bold;
}

.overlay a {
  border-bottom: 1px solid rgba(0, 0, 0, .4);
  color: rgba(0, 0, 0, .9);
  text-decoration: none;
}

.overlay a:hover {
  border-bottom-color: #000;

  color: #000;
}

.arrow {
  pointer-events: none;
  width: 128px;
}

.logo {
  pointer-events: none;
  width: 120px;
}

.logo-small {
  width: 70px;
}

#robot-bust-wrap {
  bottom: -27px;
  left: calc(50% - 48px);
  position: absolute;
  width: 96px;
}

#robot-speech {
  left: 50%;
  margin: 0;
  padding: 4px 0;
  position: absolute;
  top: -1em;
  width: 12em;

  background-color: rgba(0, 0, 0, .16);
  border-radius: var(--control-border-radius);
  transform: translateX(-50%);

  color: #fff;
  font-size: 11px;
  text-align: center;
}

#robot-speech-triangle {
  bottom: -9px;
  left: 50%;
  position: absolute;
  width: 16px;

  opacity: .16;
  transform: translateX(-50%);
}

#robot-bust {
  width: 100%;

  opacity: .16;
}

.username-label {
  display: block;
  margin-bottom: 20px;
}

.username-label h1 {
  opacity: .7;
}

.username-input {
  display: block;
  margin: 0 auto 10px;
  padding: .3em;

  background-color: rgba(255, 255, 255, .5);
  border: 3px solid #ccc;
  border-radius: 6px;

  font-family: inherit;
  font-size: 18px;
  text-align: center;
}

.username-input:focus {
  outline: none;
  background-color: #fff;
  border-color: #999;
}

.btn {
  position: absolute;
  left: -10em;
}

#checks {
  left: 0;
  height: calc(100% - 38px);
  padding: 8px 13px 13px;
  position: absolute;
  top: 38px;
  width: 275px;

  background-color: #f6f2f2;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

#checks:focus {
  outline: none;
}

.os-win #checks,
.macosx-lt-1010 #checks {
  padding-top: 13px;
}

#checks h2 {
  margin: 9px 0 8px;
  padding: 0;

  background-image: linear-gradient(to bottom, transparent 0%, transparent 47%, #dfdcda 46%, #dfdcda 54%, transparent 55%, transparent 100%);

  color: #63666a;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

#checks h2:focus {
  outline: 2px solid rgba(0, 0, 0, .8);
  outline-offset: 2px;
}

.title-wrap {
  display: inline-block;
  padding-right: 6px;

  background-color: #f6f2f2;
}

#checks ul {
  margin: 0 0 16px;
  padding: 0;

  list-style-type: none;
}

#checks ul:empty::before {
  content: "Waiting to run…";
  display: block;
  padding-left: 24px;

  background: url("../images/two-dots.svg") no-repeat 3px center / 14px auto;
  opacity: .7;

  font-style: italic;
  color: #63666a;
}

#checks li {
  margin-bottom: 4px;
  position: relative;
}

#checks a {
  display: inline-block;
  margin-left: 16px;
  padding: 3px 8px 4px;
  position: relative;

  background-color: #d9d8e3;
  border: 1px solid #a8a6af;
  border-radius: 0 12px 12px 0;
  cursor: pointer;

  color: #63666a;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  text-decoration: none;
}

#checks a:focus {
  background-color: #a8a6af;
  outline: none;
  color: #fff;
}

#checks a::before {
  content: " ";
  bottom: -2px;
  left: -17px;
  position: absolute;
  top: -2px;
  width: 22px;

  background: transparent url("../images/pending.svg") no-repeat center center / contain;
}

#checks a:focus::after {
  content: " ";
  height: 12px;
  position: absolute;
  right: -16px;
  top: calc(50% - 6px);
  width: 12px;

  background: transparent url("../images/focus-triangle.svg") no-repeat center center / contain;
}

#checks a[data-status="bypassed"]::before {
  background-image: url("../images/bypassed.svg");
}

#checks a[data-status="computing"]::before {
  background-image: url("../images/computing.svg");
}

#checks a[data-status="succeeded"] {
  background-color: #c1e89b;
  border-color: #6dd110;
  pointer-events: none;
  color: #417d0a;
}

#checks a[data-status="succeeded"]:focus {
  background-color: #6dd110;
  color: #fff;
}

#checks a[data-status="succeeded"]::before {
  background-image: url("../images/check.svg");
}

#checks a[data-status="warnings"] {
  background-color: #ffefab;
  border-color: #ffd30d;
  color: #b09000;
}

#checks a[data-status="warnings"]:focus {
  background-color: #ffd30d;
  color: #fff;
}

#checks a[data-status="warnings"]::before {
  background-image: url("../images/warning.svg");
}

#checks a[data-status="failed"] {
  background-color: #ff9494;
  border-color: #f33;
  color: #991f1f;
}

#checks a[data-status="failed"]:focus {
  background-color: #f33;
  color: #fff;
}

#checks a[data-status="failed"]::before {
  background-image: url("../images/error.svg");
}

#message-wrapper {
  height: calc(100% - 38px);
  position: absolute;
  right: 0;
  top: 38px;
  width: calc(100% - 275px);

  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;

  font-size: 14px;
}

#message-wrapper:focus {
  outline: 0;
}

[data-state="hidden"] {
  display: none;
}

[data-state="visible"] {
  display: block;
}

#message-header {
  margin-bottom: 40px;
  padding: 22px 0;

  background-color: #e2e0e0;
  border-bottom: 1px solid #bbb;

  color: #a8a6af;
  text-align: center;
}

#message-header h2 {
  display: none;
  margin: 0;

  color: #555;
  font-size: 17px;
}

#message-header h2:focus {
  outline: 2px solid rgba(0, 0, 0, .8);
  outline-offset: 2px;
}

#message-header[data-state="computing"] .computing,
#message-header[data-state="no-errors"] .no-errors,
#message-header[data-state="errors"] .errors {
  display: inline-block;
}

.robot-logo {
  margin-bottom: 10px;
  height: 75px;
  padding: 0;
  width: 75px;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.robot-logo:focus {
  outline: none;
}

.robot-logo svg {
  width: 75px;
  overflow: visible !important;
}

.hex-border-focus {
  opacity: 0;
  transform: scale(1.05);
  transform-origin: center center;
}

.robot-logo:focus .hex-border-focus {
  opacity: .8;
}

#message-header[data-state="computing"] .robot-logo {
  pointer-events: none;
  cursor: not-allowed;
}

.hex-mask-path {
  fill: none;
}

.robot {
  clip-path: url(#hex-mask);
}

.hex-border {
  fill: #63666a;
}

.hex {
  fill: #a8a6af;
}

.robot-part {
  fill: #d9d8e3;
}

#message-header[data-state="no-errors"] .hex-border {
  fill: #417d0a;
}

#message-header[data-state="no-errors"] .hex {
  fill: #6dd110;
}

#message-header[data-state="no-errors"] .robot-part {
  fill: #c1e89b;
}

#message-header[data-state="warnings"] .hex-border {
  fill: #b09000;
}

#message-header[data-state="warnings"] .hex {
  fill: #ffd30d;
}

#message-header[data-state="warnings"] .robot-part {
  fill: #ffefab;
}

#message-header[data-state="errors"] .hex-border {
  fill: #991f1f;
}

#message-header[data-state="errors"] .hex {
  fill: #f33;
}

#message-header[data-state="errors"] .robot-part {
  fill: #ff9494;
}

.messages {
  margin-top: 20px;
  padding: 5px 13px 13px;
  position: relative;

  border-top: 3px solid #ff9494;
}

.messages::before {
  content: "";
  left: 13px;
  position: absolute;
  right: 13px;
  top: 0;
}

.messages::after {
  content: "";
  height: 28px;
  left: 50%;
  position: absolute;
  top: -15px;
  width: 28px;

  background: url("../images/error.svg") no-repeat center center / 22px auto #fff;
  transform: translateX(-50%);
}

.messages h2 {
  margin: 15px 0 0 0;
  padding: 12px 0 13px 20px;

  background: transparent url("../images/error.svg") no-repeat left center / 16px 16px;
  border-top: 3px solid #f5f2f0;

  color: #991f1f;
  font-size: 15px;
}

.messages h2 span {
  position: relative;
}

.messages h2:focus {
  outline: 0;
}

.messages h2:focus span::after {
  content: " ";
  height: 16px;
  position: absolute;
  right: -20px;
  top: calc(50% - 8px);
  width: 16px;

  background: transparent url("../images/focus-triangle.svg") no-repeat center center / contain;
}

.messages a:focus {
  outline: 2px solid rgba(0, 0, 0, .7);
  outline-offset: 1px;
}

.messages mark {
  padding: 3px;
  background-color: rgba(255, 148, 148, .3);
  border-radius: 2px;

  color: #a02727;
}

.messages div:first-child h2 {
  border: 0;
}

.messages-positive {
  background-image: none;
  border-color: #c1e89b;
}

.messages-positive::after {
  background-image: url("../images/check.svg");
}

.messages-positive h2 {
  background-image: url("../images/check.svg");
  color: #417d0a;
}

.messages-positive mark {
  background-color: #c1e89b;
  color: #44800d;
}

.messages-warning {
  background-image: none;
  border-color: #ffefab;
}

.messages-warning::after {
  background-image: url("../images/warning.svg");
}

.messages-warning h2 {
  background-image: url("../images/warning.svg");
  color: #b09000;
}

.messages-warning mark {
  background-color: #ffefab;
  color: #b09000;
}

.messages h2:target {
  border-color: #f33;
  animation: border-fade-out 500ms linear forwards;
}

@keyframes border-fade-out {
  0% { border-color: #f33; }
  100% { border-color: #f5f2f0; }
}

.messages [data-state="bypassed"] h2 {
  background-image: url("../images/bypassed.svg");
  color: #63666a;
}

.messages ul {
  margin: 0;
  padding: 0 0 0 20px;
  list-style-type: none;
}

.messages li {
  position: relative;
}

.messages li::before {
  content: "●";
  left: -20px;
  position: absolute;
  width: 16px;

  transform: scale(.8);

  color: #f33;
  text-align: center;
}

.messages-positive li::before {
  color: #6dd110;
}

.messages-warning li::before {
  color: #ffd30d;
}

.messages ul ul {
  padding-left: 16px;
}

.messages li li::before {
  content: "•";
}

.messages u {
  display: inline-block;

  border-bottom: 2px dotted #f33;

  line-height: 1em;
  text-decoration: none;
}

@supports (text-decoration-style: wavy) {

  .messages u {
    display: inline;

    border: 0;

    line-height: inherit;
    text-decoration: underline wavy #f33;
  }

}

.messages-positive li li::before,
.messages-warning li li::before,
.messages [data-state="bypassed"] li::before {
  color: #a8a6af;
}

.messages li[data-state="skipped"]::before {
  color: #a8a6af;
}

.messages .diff-wrap {
  display: block;
  margin-top: 0.4rem;
  height: 150px;
  overflow: hidden;
  padding: 6px;
  position: relative;

  border: 1px solid #dfdcda;
  border-radius: 4px;
  cursor: zoom-in;
}

.messages .diff-wrap:hover {
  background-color: #f2f2f2;
}

.messages .diff-wrap:focus {
  background-color: #f2f2f2;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .8);
  outline: 0;
}

.messages .diff-img-wrap {
  display: inline-block;
  height: 136px;
  margin-right: 0.7em;
  width: 136px;

  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;

  vertical-align: middle;
}

.messages .diff-wrap span {
  display: inline-block;
  vertical-align: middle;

  font-size: 12px;
  font-style: italic;
}

.messages img {
  display: block;
  width: 100%;
  pointer-events: none;
}

.checks-loader,
.messages-loader {
  padding-bottom: 24px;

  text-align: center;
}

.checks-loader {
  padding-top: 24px;
}

.checks-loader-icon,
.messages-loader-icon {
  display: block;
  margin: 0 auto 12px;
  height: 64px;
  width: 64px;
}

.messages-loader-icon svg {
  height: 64px;
  width: 64px;
}

.checks-loader-icon,
.checks-loader-icon svg {
  height: 42px;
  width: 42px;
}

table {
  margin-bottom: 8px;
  width: 100%;

  border-collapse: collapse;
}

caption {
  margin-bottom: 8px;

  text-align: left;
}

table .highlight {
  background-color: #f8f6f5;
}

table th {
  font-weight: normal;
}

thead th {
  font-style: italic;
}

table th,
table td {
  padding: 4px 6px;

  border-left: 1px dotted #dfdcda;
  border-bottom: 1px solid #dfdcda;

  white-space: nowrap;
}

table th:first-child,
table td:first-child {
  border-left: 0;
}

table .highlight th,
table .highlight td {
  font-style: normal;
  font-weight: bold;
}

.gear-light {
  animation: spin 2s linear infinite;
  stroke: none;
  transform-origin: 80.8px 80.8px;
}

.gear-dark {
  animation: spin 2s linear reverse infinite;
  stroke: none;
  transform-origin: 176.3px 176.3px;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

pre, code, samp {
  display: block;

  color: #63666a;
  font-size: 11px;
  font-family: Menlo, monospace;
  line-height: 1.5;
}

samp {
  display: inline;
  padding: .25em .45em;

  background-color: #f5f2f0;

  color: #444;
  font-size: inherit;
  white-space: pre-wrap;
}

.error-code-block {
  display: flex;
}

.error-sample-saw {
  margin-top: 8px;
  overflow: hidden;
  width: 50%;
}

.error-sample-saw pre {
  border-left: 1px dotted #dfdcda;
}

.error-sample-expected {
  margin-top: 8px;
  overflow: hidden;
  width: 50%;
}

.error-sample-expected pre {
  border-left: 1px dotted #dfdcda;
  border-right: 1px dotted #dfdcda;
}

.error-sample-line {
  background-color: #f8f6f5;
}

.error-sample-head {
  display: block;

  color: #000;
  font-size: 11px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.5;
}

.success-fail {
  padding-bottom: 30px;
  padding-top: 10px;
  text-align: center;
}

.success-fail p {
  margin: 20px 0;
}

.success-fail p:last-child {
  margin-bottom: 0;
}

#all-good-check {
  animation: none 200ms cubic-bezier(.54, -0.37, .42, 1.78);
}

@keyframes bounce-check {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

#app-loader .messages-loader-icon {
  opacity: .8;
}
