svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

.icon {
  display: inline-block;
  position: relative;
  background: transparent none no-repeat center center;
  background-size: contain;
  vertical-align: middle;
}

.icon-label {
  display: inline-block;
  vertical-align: text-top;
}

.i-12 {
  height: 12px;
  width: 12px;
}

.i-14 {
  height: 14px;
  width: 14px;
}

.i-16 {
  height: 16px;
  width: 16px;
}

.i-18 {
  height: 18px;
  width: 18px;
}

.i-20 {
  height: 20px;
  width: 20px;
}

.i-64 {
  height: 64px;
  width: 64px;
}

.icon img,
.icon svg {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  fill: currentColor;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 6px 8px 6px 78px;
  -webkit-app-region: drag;

  background-color: #ddd;
  background-image: linear-gradient(to bottom, #ececec, #d3d3d3);
  border-bottom: 1px solid #b3b3b3;
  border-top: 1px solid #f6f6f6;
  height: 38px;
}

.os-win .toolbar,
.os-win32 .toolbar {
  padding-left: 6px;

  background-color: #f0f0f0;
  background-image: none;
  border-top: 0;
  border-bottom-color: #dadbdc;
}

.toolbar:focus {
  outline: 0;
}

.window-blurred .toolbar {
  background-color: #f6f6f6;
  background-image: none;
  border-bottom-color: #d1d1d1;
  border-top-color: #fafafa;
}

.toolbar-button-segment {
  display: flex;
  flex-direction: row;
}

.toolbar-buttons {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.toolbar-buttons > li {
  margin: 0 2px;
}

.toolbar-buttons > :first-child {
  margin-left: 0;
}

.toolbar-buttons > :last-child {
  margin-right: 0;
}

.toolbar-buttons + .toolbar-buttons {
  margin-left: 4px;
}

.toolbar-button {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 24px;
  padding: var(--control-padding);
  position: relative;
  -webkit-app-region: no-drag;

  background-color: #f7f7f7;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .05), rgba(0, 0, 0, .05));
  border: 1px solid var(--control-border-color);
  border-top-color: var(--control-border-color-lighter);
  border-bottom-color: var(--control-border-color-darker);
  border-radius: var(--control-border-radius);

  color: #555;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: var(--control-font-size);
  letter-spacing: .02em;
}

.os-win .toolbar-button,
.os-win32 .toolbar-button {
  background-image: none;
  border-radius: 0;
  border-color: #dadbdc;
}

.os-win .toolbar-button:not(.toolbar-status):hover,
.os-win32 .toolbar-button:not(.toolbar-status):hover {
  background-color: #e8eff7;
  border-color: #a4cef9;
}

button.toolbar-button * {
  pointer-events: none;
}

button.toolbar-button:active {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .05), rgba(0, 0, 0, .12));
}

button.toolbar-button:active,
button.toolbar-button:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .5);
  z-index: 100;
}

.toolbar-button::before {
  content: "";
  left: 0;
  height: calc(var(--control-border-radius) * 2);
  position: absolute;
  right: 0;
  top: 0;

  border-top: 1px solid rgba(255, 255, 255, .8);
  border-radius: var(--control-border-radius);
}

.toolbar-button > span {
  display: inline-block;
  padding-bottom: .01em;
}

.toolbar-button svg {
  stroke: #666;
  fill: #666;
}

.toolbar-button-green {
  background-color: #6dd110;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  font-size: var(--control-font-size-larger);
  font-weight: bold;
}

button.toolbar-button-green:active,
button.toolbar-button-green:focus {
  box-shadow: 0 0 0 2px rgba(61, 104, 22, .5);
}

.toolbar-button-green > span {
  padding-bottom: .07em;
}

.toolbar-button-green[data-can-submit="false"],
.toolbar-button-green[disabled] {
  pointer-events: none;
  background-color: #f7f7f7;
  opacity: .4;
  color: #333;
  text-shadow: none;
}

.toolbar-button-green .icon {
  position: relative;
  top: -1px;
}

.toolbar-button-green svg {
  stroke: #fff;
  fill: #fff;
}

.toolbar-button-green #submit-icon-done,
.toolbar-button-green #submit-icon-gear {
  display: none;
}

.toolbar-button-green[data-state="processing"] {
  pointer-events: none;
  cursor: wait;
}

.toolbar-button-green[data-state="processing"] #submit-icon-gear {
  display: inline-block;
}

.toolbar-button-green[data-state="done"] {
  pointer-events: none;
  cursor: not-allowed;
}

.toolbar-button-green[data-state="done"] #submit-icon-done {
  display: inline-block;
}

.toolbar-button::before {
  opacity: .4;
}

.window-blurred .toolbar-button,
.toolbar-button[data-can-be-enabled="false"],
.toolbar-button[disabled] {
  pointer-events: none;
  opacity: .4;
}

.window-blurred .toolbar-button:focus,
.toolbar-button[data-can-be-enabled="false"]:focus,
.toolbar-button[disabled]:focus {
  box-shadow: none;
}

.toolbar-buttons-group > li {
  margin-left: 0;
  margin-right: 0;
}

.toolbar-buttons-group .toolbar-button {
  border-radius: 0;
  border-right: 0;
  border-left-color: var(--control-border-color-connection);
}

.toolbar-buttons-group > :first-child .toolbar-button {
  border-radius: var(--control-border-radius) 0 0 var(--control-border-radius);
  border-left-color: var(--control-border-color);
}

.toolbar-buttons-group > :last-child .toolbar-button {
  border-radius: 0 var(--control-border-radius) var(--control-border-radius) 0;
  border-right: 1px solid var(--control-border-color);
}

.os-win .toolbar-buttons-group > :first-child .toolbar-button,
.os-win32 .toolbar-buttons-group > :first-child .toolbar-button,
.os-win .toolbar-buttons-group > :last-child .toolbar-button,
.os-win32 .toolbar-buttons-group > :last-child .toolbar-button {
  border-radius: 0;
  border-color: #dadbdc;
}

.os-win .toolbar-buttons-group > :first-child .toolbar-button:not(.toolbar-status):hover,
.os-win32 .toolbar-buttons-group > :first-child .toolbar-button:not(.toolbar-status):hover,
.os-win .toolbar-buttons-group > :last-child .toolbar-button:not(.toolbar-status):hover,
.os-win32 .toolbar-buttons-group > :last-child .toolbar-button:not(.toolbar-status):hover {
  background-color: #e8eff7;
  border-color: #a4cef9;
}

.toolbar-status {
  display: flex;
  width: 30em;
  justify-content: space-between;
}

.rotating-icon {
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

.status-button {
  margin-right: -4px;
  padding: 0 4px;

  background: transparent none;
  border: 0;
  border-radius: var(--control-border-radius);

  color: #333;
}

.status-button:not([disabled]):active,
.status-button:not([disabled]):focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .2);
  background-color: rgba(0, 0, 0, .05);
}

.folder-icon {
  margin-bottom: 2px;
}

.toolbar-status-pill {
  display: inline-block;
  min-width: 3.3em;
  padding: 0 4px 0 16px;
  position: relative;

  background-color: #666;
  border: 1px solid #333;
  border-radius: 50em;

  color: rgba(255, 255, 255, .9);
  line-height: 1.3;
  text-align: right;
}

.toolbar-status-pill .icon {
  position: absolute;
  left: 1px;
  top: calc(50% - 7px);
}

.toolbar-status-pill .icon svg {
  fill: rgba(255, 255, 255, .9);
}

.toolbar-status-red {
  background-color: #f33;
  border-color: rgba(153, 31, 31, .3); /* #991f1f */
}

.toolbar-status-green {
  background-color: #6dd110;
  border-color: rgba(65, 125, 10, .5); /* #417d0a */
}

.toolbar-status-yellow {
  background-color: #ffd30d;
  border-color: rgba(176, 144, 0, .4); /* #b09000 */
  color: #8a7100; /* b09000 */
}

.toolbar-status-yellow .icon svg {
  fill: #8a7100;
}

.toolbar-button-refresh #refresh-gear {
  display: none;
}

.toolbar-button-refresh[data-state="computing"] {
  pointer-events: none;
  cursor: not-allowed;
}

.toolbar-button-refresh[data-state="computing"] #refresh-gear {
  display: inline-block;
}

.toolbar-button-refresh[data-state="computing"] #refresh-icon {
  display: none;
}
