html {
  border-radius: 0 0 6px 6px;
}

body {
  overflow: hidden;
  background: url("../images/transparency-grid.svg") repeat 0 0 / 24px 24px #ccc;
  border-radius: 0 0 6px 6px;
}

img,
svg {
  pointer-events: none;
}

.invisible {
  position: absolute;
  left: -30px;
}

.invisible-text {
  position: absolute;
  right: -100px;
}

main {
  height: calc(100vh - 29px);
}

footer {
  bottom: 0;
  left: 0;
  padding: 4px 6px;
  position: fixed;
  width: 100%;

  background-color: #63666a;
  border-top: 1px solid #333;
}

label {
  cursor: pointer;
}

.tabs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

.tabs > li {
  display: inline-block;
}

.tabs label {
  display: inline-block;
  padding: 4px 12px;

  background-color: #a8a6af;
  border-radius: 12px;

  color: #fff;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

#radio-split:checked ~ footer [for="radio-split"],
#radio-difference:checked ~ footer [for="radio-difference"] {
  background-color: #333;
}

.tab {
  display: none;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.scrollable {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.scrollable-wrap {
  position: relative;
  overflow: hidden;
}

#radio-split:checked ~ main #split,
#radio-difference:checked ~ main #difference {
  display: block;
}

#radio-diff-ref:checked ~ main [for="radio-diff-ref"],
#radio-diff-new:checked ~ main [for="radio-diff-new"] {
  background-color: rgba(99, 102, 106, .9);
  border-color: #333;
  color: #fff;
}

.img-ref,
.img-new,
.img-diff {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

#diff-img-ref-cover,
#diff-img-new {
  display: none;
}

.img-diff {
  opacity: .5;
}

#radio-diff-new:checked ~ main #diff-img-ref-cover,
#radio-diff-new:checked ~ main #diff-img-new {
  display: block;
}

.tab-split {
  cursor: col-resize;
}

#split-img-new {
  -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
}

#diff-img-ref-cover,
#split-img-ref-cover {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;

  background: url("../images/transparency-grid.svg") repeat 0 0 / 24px 24px fixed #ccc;
}

#split-img-ref-cover {
  -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
}

.splitter {
  bottom: 0;
  left: calc(50% - 12px);
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 24px;

  background:
    url("../images/differ-top.svg") no-repeat center top / contain,
    url("../images/differ-bottom.svg") no-repeat center bottom / contain,
    url("../images/differ-line.svg") repeat-y center bottom / contain
    ;
  cursor: col-resize;

  text-indent: 100%;
  white-space: nowrap;
}

.split-label {
  bottom: 4px;
  padding: 5px 9px 5px;
  position: absolute;

  background-color: rgba(255, 255, 255, .9);
  border: 2px solid #63666a;

  color: #333;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  text-transform: uppercase;
}

.split-label-ref {
  left: 0;
  border-left: 0;
  border-radius: 0 12px 12px 0;
}

.split-label-new {
  right: 0;
  border-right: 0;
  border-radius: 12px 0 0 12px;
}

#diff-range {
  bottom: 6px;
  left: 50%;
  position: absolute;
  height: 14px;
  width: 150px;

  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 14px;
  transform: translateX(-50%);
}

#diff-range:focus {
  outline: none;
}

#diff-range::-webkit-slider-thumb {
  width: 16px;
  height: 16px;

  -webkit-appearance: none;
  background-color: #000;
  border: 2px solid #999;
  box-shadow: 0 0 0 4px #000;
  border-radius: 50%;
}
